# Microsoft Intern Engage 2022

In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

## Extracting features of 2020 movies from Wikipedia

In [2]:
# there is no sufficient data on kaggle for movies after 2017 , so we are extracting the data from wikipidea
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [3]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [4]:
tables = soup.find_all('table',class_='wikitable sortable')

In [5]:
len(tables)

4

In [6]:
type(tables[0])

bs4.element.Tag

In [7]:
# there are 4 tables , so we just collected them into a single-single dataframe
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [8]:
# appending all the dataframes into a single dataframe
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [9]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN
...,...,...,...,...,...,...,...
269,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios,Robert Rodriguez (director/screenplay); Priyan...,NaN,[241]
270,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[242]
271,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[243]
272,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[244]
273,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[245]

In [10]:
df_2020 = df[['Title','Cast and crew']]

In [11]:
df_2020

                     Title                                      Cast and crew
0               The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1               Underwater  William Eubank (director); Brian Duffield, Ada...
2              Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3            Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4        Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
..                     ...                                                ...
269       We Can Be Heroes  Robert Rodriguez (director/screenplay); Priyan...
270      News of the World  Paul Greengrass (director/screenplay); Luke Da...
271  One Night in Miami...  Regina King (director); Kemp Powers (screenpla...
272  Promising Young Woman  Emerald Fennell (director/screenplay); Carey M...
273      Pieces of a Woman  Kornél Mundruczó (director); Kata Wéber (scree...

[274 rows x 2 columns]

In [12]:
# we are using this tmdbv3api , because we are going to extract the data from TMDB based on the MOVIE id
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\hp\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2022.5.18.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)

In [13]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'cd109cb98c90d3020a252e6f524b8d63'          # this is API key (this is unique)

In [14]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_id(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].id
    except:
        return np.NaN

{'adult': False, 'backdrop_path': '/xcUf6yIheo78btFqihlRLftdR3M.jpg', 'genre_ids': [10751, 14, 12], 'id': 448119, 'original_language': 'en', 'original_title': 'Dolittle', 'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.', 'popularity': 32.023, 'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg', 'release_date': '2020-01-01', 'title': 'Dolittle', 'video': False, 'vote_average': 6.7, 'vote_count': 2984}

In [15]:
# based on the movie title , storing the geners for movie
df_2020['id'] = df_2020['Title'].map(lambda x: get_movie_id(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_avg_vt(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].vote_average
    except:
        return np.NaN

In [17]:
df_2020['vote_average'] = df_2020['Title'].map(lambda x: get_movie_avg_vt(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_vt_cnt(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].vote_count
    except:
        return np.NaN

In [19]:
df_2020['vote_count'] = df_2020['Title'].map(lambda x: get_movie_vt_cnt(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
# by the use of this function , we are extracting the movie related information based on their movie ID with the help of API KEY
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [21]:
# based on the movie title , storing the geners for movie
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
df_2020

,Title,Cast and crew,id,vote_average,vote_count,genres
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,1970.0,5.9,2398.0,Horror Mystery Thriller
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",443791.0,6.3,2434.0,Action Horror Science Fiction Thriller
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",526019.0,6.4,548.0,Comedy
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,418533.0,6.8,78.0,Drama
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,634904.0,5.8,45.0,Crime Thriller Drama
...,...,...,...,...,...,...
269,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,615677.0,6.2,599.0,Action Fantasy Family Comedy
270,News of the World,Paul Greengrass (director/screenplay); Luke Da...,581032.0,7.0,1353.0,Drama Western Adventure
271,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,661914.0,7.1,521.0,Drama
272,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,582014.0,7.5,2098.0,Thriller Crime Drama
273,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,641662.0,7.1,951.0,Drama

In [23]:
# extracting movie director name 
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [24]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

In [25]:
# extracting movie actror1 name 
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [26]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [27]:
# extracting movie actror2 name 
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [28]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [29]:
# extracting movie actror3 name 
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [30]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [31]:
df_2020

,Title,Cast and crew,id,vote_average,vote_count,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,1970.0,5.9,2398.0,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",443791.0,6.3,2434.0,Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",526019.0,6.4,548.0,Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,418533.0,6.8,78.0,Drama,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,634904.0,5.8,45.0,Crime Thriller Drama,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs
...,...,...,...,...,...,...,...,...,...,...
269,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,615677.0,6.2,599.0,Action Fantasy Family Comedy,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin
270,News of the World,Paul Greengrass (director/screenplay); Luke Da...,581032.0,7.0,1353.0,Drama Western Adventure,Paul Greengrass,Tom Hanks,Helena Zengel,NaN
271,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,661914.0,7.1,521.0,Drama,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge
272,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,582014.0,7.5,2098.0,Thriller Crime Drama,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie
273,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,641662.0,7.1,951.0,Drama,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker

In [32]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [33]:
# just taking the important columns for further process
new_df20 = df_2020.loc[:,['id','director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title','vote_count','vote_average']]

In [34]:
new_df20

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average
0,1970.0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,The Grudge,2398.0,5.9
1,443791.0,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,Underwater,2434.0,6.3
2,526019.0,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,Like a Boss,548.0,6.4
3,418533.0,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,Three Christs,78.0,6.8
4,634904.0,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,Inherit the Viper,45.0,5.8
...,...,...,...,...,...,...,...,...,...
269,615677.0,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,We Can Be Heroes,599.0,6.2
270,581032.0,Paul Greengrass,Tom Hanks,Helena Zengel,NaN,Drama Western Adventure,News of the World,1353.0,7.0
271,661914.0,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,One Night in Miami...,521.0,7.1
272,582014.0,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,Promising Young Woman,2098.0,7.5
273,641662.0,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,Pieces of a Woman,951.0,7.1

In [35]:
# replacing the null values with the unknown
new_df20['actor_2_name'] = new_df20['actor_2_name'].replace(np.nan, 'unknown')
new_df20['actor_3_name'] = new_df20['actor_3_name'].replace(np.nan, 'unknown')

In [36]:
# making a new column and Concatenate all the columns into that single column
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [37]:
new_df20.isna().sum()

id               1
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           1
movie_title      0
vote_count       1
vote_average     1
comb             1
dtype: int64

In [38]:
new_df20 = new_df20.dropna(how='any')

In [39]:
new_df20.isna().sum()

id               0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
vote_count       0
vote_average     0
comb             0
dtype: int64

In [40]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
# this is the final data for 2020 that is having all the important information
new_df20

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average,comb
0,1970.0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,the grudge,2398.0,5.9,Andrea Riseborough Demián Bichir John Cho Nico...
1,443791.0,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,underwater,2434.0,6.3,Kristen Stewart Vincent Cassel Jessica Henwick...
2,526019.0,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,548.0,6.4,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,418533.0,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,78.0,6.8,Richard Gere Peter Dinklage Walton Goggins Jon...
4,634904.0,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,inherit the viper,45.0,5.8,Josh Hartnett Margarita Levieva Chandler Riggs...
...,...,...,...,...,...,...,...,...,...,...
269,615677.0,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,599.0,6.2,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
270,581032.0,Paul Greengrass,Tom Hanks,Helena Zengel,unknown,Drama Western Adventure,news of the world,1353.0,7.0,Tom Hanks Helena Zengel unknown Paul Greengras...
271,661914.0,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,521.0,7.1,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
272,582014.0,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,2098.0,7.5,Carey Mulligan Bo Burnham Alison Brie Emerald ...
273,641662.0,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,951.0,7.1,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [42]:
old_df = pd.read_csv('data19.csv')

In [43]:
old_df

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average,comb
0,19995,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Action Adventure Fantasy Sci-Fi,avatar,11800,7.2,Sam Worthington Zoe Saldana Sigourney Weaver J...
1,285,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Adventure Fantasy Action,pirates of the caribbean: at world's end,4500,6.9,Johnny Depp Orlando Bloom Keira Knightley Gore...
2,206647,Sam Mendes,Daniel Craig,Christoph Waltz,Léa Seydoux,Action Adventure Crime,spectre,4466,6.3,Daniel Craig Christoph Waltz Léa Seydoux Sam M...
3,49026,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Action Crime Drama Thriller,the dark knight rises,9106,7.6,Christian Bale Michael Caine Gary Oldman Chris...
4,49529,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Action Adventure Sci-Fi,john carter,2124,6.1,Taylor Kitsch Lynn Collins Samantha Morton And...
...,...,...,...,...,...,...,...,...,...,...
5065,431693,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,2280,7.7,Will Smith Tom Holland Rashida Jones Nick Brun...
5066,331482,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,4815,7.9,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5067,530915,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,9750,8.0,George MacKay Dean-Charles Chapman Mark Strong...
5068,522212,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,1714,8.0,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5069,565307,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,68,6.6,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [44]:
final_df = old_df.append(new_df20,ignore_index=True)

In [45]:
final_df

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average,comb
0,19995.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Action Adventure Fantasy Sci-Fi,avatar,11800.0,7.2,Sam Worthington Zoe Saldana Sigourney Weaver J...
1,285.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Adventure Fantasy Action,pirates of the caribbean: at world's end,4500.0,6.9,Johnny Depp Orlando Bloom Keira Knightley Gore...
2,206647.0,Sam Mendes,Daniel Craig,Christoph Waltz,Léa Seydoux,Action Adventure Crime,spectre,4466.0,6.3,Daniel Craig Christoph Waltz Léa Seydoux Sam M...
3,49026.0,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Action Crime Drama Thriller,the dark knight rises,9106.0,7.6,Christian Bale Michael Caine Gary Oldman Chris...
4,49529.0,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Action Adventure Sci-Fi,john carter,2124.0,6.1,Taylor Kitsch Lynn Collins Samantha Morton And...
...,...,...,...,...,...,...,...,...,...,...
5338,615677.0,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,599.0,6.2,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
5339,581032.0,Paul Greengrass,Tom Hanks,Helena Zengel,unknown,Drama Western Adventure,news of the world,1353.0,7.0,Tom Hanks Helena Zengel unknown Paul Greengras...
5340,661914.0,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,521.0,7.1,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
5341,582014.0,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,2098.0,7.5,Carey Mulligan Bo Burnham Alison Brie Emerald ...
5342,641662.0,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,951.0,7.1,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [46]:
# saving the current (till 2020) data into a csv file
final_df.to_csv('data20.csv',index=False)